.headerContainer {
  padding: 3% 0% 3% 9%;
  min-height: 15dvh;
  display: flex;
  flex-direction: column;
  padding-top: 140px;
}
.headerBottomText {
  padding-left: 12%;
}
.headerContainer p {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.reservationContainer {
  display: flex;
  justify-content: center;
  background-color: #121212;
  padding-top: 50px;
  padding-bottom: 50px;
}
.formReservations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5%;
  padding: 5px;
  min-width: 25%;
}
.formReservations label {
  font-size: 3rem;
  color: whitesmoke;
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
}
.formReservations input {
  width: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 2rem;
}
